#about-nav-bar.row.custom-navbar.voffset.hidden-xs
  .col-md-12
    .btn-group
      %a.btn.btn-primary.btn-lg{href: "/about.html", class: "#{'active' if current_path == 'about.html'}"} About
      %a.btn.btn-primary.btn-lg{href: "/team.html", class: "#{'active' if current_path == 'team.html'}"} Team
