---
title: Custom Bespoke Development Services for Food Hubs and Food Delivery Businesses
---

.container.text-center
  .row
    .col-md-6.col-md-offset-3
      %h3 Custom development services

      %p
        %strong Need something a little more customised?
        Bucky Box offers custom development services for large food hubs and delivery enterprises.

      %p.voffset-2
        = image_tag "i-bespoke.png"

      %p.voffset-2
        Piggyback on top of our years of experience building delivery and logistics systems for local food delivery operations, our existing code modules, and our excellent customer support and service.
        If you want to discuss a project, drop us an email at #{mail_to "bespoke@buckybox.com"}.

