---
title: Privacy Policy
---

.container
  .row
    .col-xs-12
      .text-center
        %h1 The Bucky Box Privacy Policy
        %span.label.label-default Last updated: 31 October 2012

      %h2 Your data is yours.
      %p You own your data. If you ever want to stop using Bucky Box, you will be able to download your data. Normally this can be done directly within the app, but if this is not available, ask our team and we will extract the data for you.

      %h2 Security of your data.
      %p All traffic on Bucky Box runs over SSL/HTTPS. This is the same secure protocol used by banks. Data is backed up daily and copies are stored at an off-site location for disaster recovery.

      %h2 We do not store credit card details.
      %p Bucky Box does not store your or your customer’s credit card details. Your credit card details are encrypted and securely stored by third party credit card gateway providers and cannot be accessed by Bucky Box staff.

      %h2 We will not share your data without your permission.
      %p Your data is not shared to any third parties without your explicit consent by either communication or by API authentication.

      %h2 Information we collect.
      %p We collect non-directly-identifiable customer usage information and transaction volumes in order to better understand and improve the local food ecosystem in accordance to our social mission, we also use this information to improve the system design. All usage information is stored in a secure data warehouse facility.

      %h2 You can opt-out of any email communications.
      %p Bucky Box sends billing information, product information, and service notifications to you via email. Where appropriate, email communications will have clear instructions to opt-out of the mailing list.

      %h2 This policy may be updated from time to time.
      %p We reserve the right to change this policy from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. Any amended policy is effective upon posting to this website, and we’ll make every effort to tell you about these changes via email.

