---
title: Responsible Disclosure Policy
---

.container
  .row
    .col-xs-12
      .text-center
        %h1 The Bucky Box Responsible Disclosure Policy

      %p Please email security@buckybox.com to report any security vulnerabilities. We will acknowledge receipt of your vulnerability report and strive to send you regular updates about our progress. If you're curious about the status of your disclosure please feel free to email us again. If you want to encrypt your disclosure email please email us to ask for our #{link_to "PGP key", "https://pgp.mit.edu/pks/lookup?op=get&search=ced@buckybox.com"}.

      %p Please refrain from requesting compensation for reporting vulnerabilities. If you want we will publicly acknowledge your responsible disclosure. We also try to make the confidential issue public after the vulnerability is announced.

      %p You are not allowed to search for vulnerabilities on buckybox.com itself. Bucky Box is open-source software, you can install a copy yourself and test against that. If you want to perform testing without setting up Bucky Box yourself, please contact us to arrange access to a staging server.
